In [63]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from bs4 import BeautifulSoup as bs
import requests
import urllib.request

In [61]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

page = requests.get("https://www.seair.co.in/soybean-indonesia-importers", headers=headers)

page.status_code

200

In [56]:
doc = bs(page.text, 'html.parser')

In [57]:
doc.title

In [16]:
page = urllib.request.urlopen("https://www.seair.co.in/soybean-indonesia-importers")

In [18]:
page.status

200

In [19]:
doc = bs(page, 'html.parser')
doc.title

In [21]:
list = doc.find_all('h4')

In [34]:
company = pd.DataFrame(columns=["Company Name"])


for i in list:
    company = company.append({"Company Name": i.text}, ignore_index=True)

In [42]:
company.tail()

                    Company Name
15         PT. EXINDOKARSA AGUNG
16          PT. TRIKEMINDO UTAMA
17       PT. MAXMASTER INDONESIA
18       PT.TERUS MAKMUR MANDIRI
19  PT. WONOKOYO JAYA CORPORINDO

In [40]:
company.drop(20, inplace=True)

In [41]:
company

                     Company Name
0                PT. EKA BOGAINTI
1             PT. CJ FEED JOMBANG
2       PT. SEGITIGA AGRO MANDIRI
3               PT. MANNA LESTARI
4   PT. CARGILL TRADING INDONESIA
5               PT. MANNA LESTARI
6         PT. MITRA BERSAMA ABADI
7         PT. MITRA BERSAMA ABADI
8           PT. ALKINDO MITRARAYA
9        PT. ISTANA SURYA PERKASA
10       PT. ISTANA SURYA PERKASA
11        PT. MABAR MITRA BERSAMA
12        PT. MABAR MITRA BERSAMA
13         PT. GOLDEN SINAR SAKTI
14           PT. JAKSON NIAGATAMA
15          PT. EXINDOKARSA AGUNG
16           PT. TRIKEMINDO UTAMA
17        PT. MAXMASTER INDONESIA
18        PT.TERUS MAKMUR MANDIRI
19   PT. WONOKOYO JAYA CORPORINDO