In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from bs4 import BeautifulSoup as bs
import requests
import urllib.request

In [21]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

page = requests.get("https://www.seair.co.in/soybean-indonesia-importers", headers=headers)

page.status_code

200

In [22]:
doc = bs(page.text, 'html.parser')

In [23]:
doc.title

In [24]:
page = urllib.request.urlopen("https://www.seair.co.in/soybean-indonesia-importers")

In [25]:
page.status

200

In [26]:
doc = bs(page, 'html.parser')
doc.title

In [27]:
list = doc.find_all('h4')

In [47]:
company = pd.DataFrame(columns=["Company Name"])


for i in list:
    company = company.append({"Company Name": i.text}, ignore_index=True)

In [48]:
company.tail()

                                         Company Name
16                               PT. TRIKEMINDO UTAMA
17                            PT. MAXMASTER INDONESIA
18                            PT.TERUS MAKMUR MANDIRI
19                       PT. WONOKOYO JAYA CORPORINDO
20   Get a free Import-Export data demonstrative r...

In [49]:
company.drop(20, inplace=True)

In [50]:
company

                     Company Name
0                PT. EKA BOGAINTI
1             PT. CJ FEED JOMBANG
2       PT. SEGITIGA AGRO MANDIRI
3               PT. MANNA LESTARI
4   PT. CARGILL TRADING INDONESIA
5               PT. MANNA LESTARI
6         PT. MITRA BERSAMA ABADI
7         PT. MITRA BERSAMA ABADI
8           PT. ALKINDO MITRARAYA
9        PT. ISTANA SURYA PERKASA
10       PT. ISTANA SURYA PERKASA
11        PT. MABAR MITRA BERSAMA
12        PT. MABAR MITRA BERSAMA
13         PT. GOLDEN SINAR SAKTI
14           PT. JAKSON NIAGATAMA
15          PT. EXINDOKARSA AGUNG
16           PT. TRIKEMINDO UTAMA
17        PT. MAXMASTER INDONESIA
18        PT.TERUS MAKMUR MANDIRI
19   PT. WONOKOYO JAYA CORPORINDO

### Get more detail

In [76]:
import requests
from bs4 import BeautifulSoup

# List of company namesa

pages = []

# Base URL for the website
base_url = "https://www.seair.co.in/"

# Loop through each company
for comp in company["Company Name"]:
    # Construct the URL for the specific company
    company_url = f"{base_url}{comp.lower().replace('.', '').replace(' ', '-')}-importers-in-indonesia"
    
    # Send a request to the company's page
    response = urllib.request.urlopen(company_url)


    # response = requests.get(company_url)
    # # Check if the request was successful (status code 200)
    if response.status == 200:

        
        page = bs(response, 'html.parser')

        pages.append(page)

        # table = page.find_all('table')[0]
        

        # break

    #     if table:
    #         # print(table)

    #         tes = pd.read_html(str(table))[0][1]
    #         break
    # #     # Parse the HTML content of the page
    # #     soup = BeautifulSoup(response.text, 'html.parser')
        
    #     # Extract the data you need from the page
    #     # Example: extract all paragraphs
    #     paragraphs = soup.find_all('p')
        
    #     # Print or store the extracted data as needed
    #     for paragraph in paragraphs:
    #         print(paragraph.text)
    # else:
    #     print(f"Failed to retrieve data for {company}")

In [78]:
len(pages)

20

In [104]:
result_df = pd.DataFrame()

for page in pages:
    table = page.find_all('table')[0]
    tes = pd.read_html(str(table))[0][1]
    result_df = result_df.append(tes, ignore_index=True)

In [117]:
columns_df = pd.read_html(str(pages[1].find_all('table')[0]))[0][0]

In [118]:
result_df.columns = columns_df

In [119]:
result_df

,HS CODE,PRODUCT,IMPORTER NAME,IMPORTER ADDRESS,EXPORTER NAME,EXPORTER ADDRESS,EXPORTER COUNTRY,ORIGIN COUNTRY,ORIGIN PORT,DEST PORT,QUANTITY,UNIT OF MEASURE,N WEIGHT IN KG,CIF IN FC
0,15079090,OKI BRAND SOYABEAN OIL,PT. EKA BOGAINTI,"JL. RAYA PONCOL NO.2, RT 009 RW09, CIRACAS,CIR...",NGO CHEW HONG EDIBLE OIL PTE LTD,231 PANDAN LOOP SINGAPORE 128418,SINGAPORE,MALAYSIA,Singapore,Tanjung Priok,1318,NUMBER OF INTERNATIONAL UNIT,NaN,23987.6
1,23012090,SQUID LIVER POWDER KEADAAN BAIK,PT. CJ FEED JOMBANG,MENARA JAMSOSTEK LT.21 JL. JEND.GATOT SUBROTO 38,"HANA INDUSTRIAL CO,, LTD","613 GURYANG-RI, DUSEO-MYEON, ULJU-GUN, ULSAN,","KOREA, REPUBLIC OF","KOREA, REPUBLIC OF",Busan (ex Pusan),Tanjung Perak,108,TONNE,108000,92880
2,12019000,U.S.NO.1 YELLOW SOYBEANS BAIK/BAGUS,PT SEGITIGA AGRO MANDIRI,KP. PEGADUNGAN RT.003 RW.010 DESA PANTAIMAKMUR...,"LANSING TRADE GROUP, LLC","10975 BENSON DRIVE,SUITE 400,OVERLAND PARK,KS6...",UNITED STATES,UNITED STATES,New York,Tanjung Priok,341.825,TONNE,341825,161170.48
3,12019000,U.S. NO. 1 YELLOW SOYBEANS,PT. MANNA LESTARI,"JL. SUKOMANUNGGAL JAYA 3N (CSH NO 16) , KEL. S...",LANSING TRADE GROUP LLC,"10975 BENSON DRIVE, SUITE 400 OVERLAND PARK",UNITED STATES,UNITED STATES,Norfolk,Tanjung Perak,41.123,TONNE,41123,16228.37
4,12019000,US NO.1 YELLOW SOYBEANS,PT. CARGILL TRADING INDONESIA,WISMA 46 KOTA BNI LT.26 SUITE 26.01 JL. JEND.S...,"EUSU LOGISTICS, INC. AS NVOOCC FOR CONSO","7305 IL HIGHWAY 26 PRINCETON, IL 61356",UNITED STATES,UNITED STATES,Long Beach,Tanjung Perak,393.426,TONNE,393426,146468.57
5,12019000,U.S. NO. 1 YELLOW SOYBEANS,PT. MANNA LESTARI,"JL. SUKOMANUNGGAL JAYA 3N (CSH NO 16) , KEL. S...",LANSING TRADE GROUP LLC,"10975 BENSON DRIVE, SUITE 400 OVERLAND PARK",UNITED STATES,UNITED STATES,Norfolk,Tanjung Perak,41.123,TONNE,41123,16228.37
6,12019000,US NO. 1 YELLOW SOYBEANS BAIK/BARU,PT. MITRA BERSAMA ABADI,HAWAIIAN BLOK B/11 KOMPLEK CITY RESORT RESIDEN...,"PERDUE AGRIBUSINESS GRAIN, LLC","PO BOX 1537 SALISBURY,MD 21802-1537",UNITED STATES,UNITED STATES,Los Angeles,Tanjung Priok,512.212,TONNE,512212,197754.81
7,12019000,US NO. 1 YELLOW SOYBEANS BAIK/BARU,PT. MITRA BERSAMA ABADI,HAWAIIAN BLOK B/11 KOMPLEK CITY RESORT RESIDEN...,"PERDUE AGRIBUSINESS GRAIN, LLC","PO BOX 1537 SALISBURY,MD 21802-1537",UNITED STATES,UNITED STATES,Los Angeles,Tanjung Priok,512.212,TONNE,512212,197754.81
8,38231990,SOYABEAN OIL FATTY ACID (TFA-125) -,PT. ALKINDO MITRARAYA,"JL. GATOT SUBROTO KM.8 KADUJAYA CURUG,TANGERAN...","TSUNO RICE FINE CHEMICALS CO.,LTD. JAPAN","2283,CHONOMACHI,KATSURAGI-CHO,ITO-GUN,WAKAYAMA",JAPAN,JAPAN,Osaka,Tanjung Priok,14400,KILOGRAM,14400,16128
9,84379019,SPARE PARTS FOR RICE POLISHER FFC23 SCREEN 2.0MM,PT. ISTANA SURYA PERKASA,JL. PETEMON BARAT 73-75 KUPANG KRAJAN SAWAHAN ...,TANCHENG FENGSHENG MACHINERY MANUFACTURI,"BEIZHANG VILLAGE,GAOFENGTOU TOWN,TANCHENG SHAN...",CHINA,CHINA,Qingdao,Tanjung Priok,300,PCE,81,288
10,84379019,SPARE PARTS FOR RICE POLISHER FFC23 SCREEN 2.0MM,PT. ISTANA SURYA PERKASA,JL. PETEMON BARAT 73-75 KUPANG KRAJAN SAWAHAN ...,TANCHENG FENGSHENG MACHINERY MANUFACTURI,"BEIZHANG VILLAGE,GAOFENGTOU TOWN,TANCHENG SHAN...",CHINA,CHINA,Qingdao,Tanjung Priok,300,PCE,81,288
11,12019000,U.S. NO. 1 YELLOW SOYBEANS,PT. MABAR MITRA BERSAMA,JL. RUMAH POTONG HEWAN NO.44 RT. RW. KEL. MABA...,PERDUE AGRIBUSINESS GRAIN LLC,"P.O. BOX 1537 SALISBURY, MD 21802 USA",UNITED STATES,UNITED STATES,Long Beach,Belawan,524.576,TONNE,524576,206898.02
12,12019000,U.S. NO. 1 YELLOW SOYBEANS,PT. MABAR MITRA BERSAMA,JL. RUMAH POTONG HEWAN NO.44 RT. RW. KEL. MABA...,PERDUE AGRIBUSINESS GRAIN LLC,"P.O. BOX 1537 SALISBURY, MD 21802 USA",UNITED STATES,UNITED STATES,Long Beach,Belawan,524.576,TONNE,524576,206898.02
13,12019000,U.S. NO. 1 YELLOW SOYBEANS,PT. GOLDEN SINAR SAKTI,WISMA BUDI LT.8-9 JL. HR. RASUNA SAID KAV. C/6...,CONSOLIDATED GRAIN AND BARGE CO.,"7305 ILLINOIS HWY 26 PRINCETON, IL 61356",UNITED STATES,UNITED STATES,Tacoma,Tanjung Emas,26.272,TONNE,26272,10054.03
14,12019000,US NO.2 OR BETTERYELLOW SOYBEAN,PT. JAKSON NIAGATAMA,KOMPLEK MITRA BAHARI BLOK B 11 JL PAKIN 1 JAKA...,CHS INC,5500 CENEX DRIVE INVER GROVE HEIGHTS MINNESOTA...,UNITED STATES,UNITED STATES,Los Angeles,Tanjung Emas,467.902,TONNE,467902,175748.67
15,08041000,"NATURAL DATES (DC KHALAS 1KG), DIMUAT 2X40' CO...",PT. EXINDOKARSA AGUNG,JL.BEKASI TIMUR NO.136 CIPINANG BESAR UTARA JA...,AL CANANI FOODSTUFF TRADERS (LLC),"P.O.BOX 5746, DUBAI U.A.E.",UNITED ARAB EMIRATES,UNITED ARAB EMIRATES,Jebel Ali,Tanjung Priok,44,TONNE,44000,86020
16,29161300,METHACRLIC ACID (MAA) IN GOOD QUALITY,PT. TRIKEMINDO UTAMA,WISMA SEJAHTERA RUANG 1-D JL.LETJEN.S PARMAN K...,MITSUBISHI GAS CHEMICAL SINGAPORE PTE LT,"24 RAFFLES PLACE #16-01, CLIFFORD CENTRE, SING...",SINGAPORE,JAPAN,Niigata,Tanjung Priok,14,TONNE,14000,37345
17,84799030,MACHINE SPARE PARTS & ACCESSORIES,PT. MAXMASTER INDONESIA,JL. KARTINI II NO.19 PASAR BARU - SAWAH BESAR ...,NUTRIFRES RESOURCES SDN BHD,"NO.8 JALAN BULAN U5/166,BANDAR PINGGIRAN SUBANG,",MALAYSIA,MALAYSIA,Port Kelang,Belawan,1,PCE,2.7,348.23
18,12019000,NO.1 US YELLOW SOYBEAN,PT.TERUS MAKMUR MANDIRI,JL. BANDENGAN SELATAN NO. 82 BLOK E-S RT. 001 ...,ARCHER DANIELS MIDLAND CO.,"4666 FARIES PARKWAY DECATUR II, 62526-5630",UNITED STATES,UNITED STATES,Norfolk,Tanjung Emas,680.66,TONNE,680660,267621.9
19,84369919,SPARE PARTS FOR EXISTING FEEDMILL : INNER AND ...,PT. WONOKOYO JAYA CORPORINDO,"JL.TAMAN BUNGKUL NO.1-7 DARMO, WONOKROMO SURABAYA",VAN AARSEN INTERNATIONAL B.V,"HEELDERWEG 11 6097 EW PANHEEL, THE NETHERLANDS",NETHERLANDS,NETHERLANDS,Antwerpen,Tanjung Perak,1,PCE,100,809

In [120]:
result_df.to_csv("result.csv", index=False)

In [121]:
!pwd

/Users/akmal/Documents/personal/projects/random